/*make it look like the wire frame*/
body{
  background-image: 'images.jpg';
}
.container{
  position: relative;
}
#scoreboard{
  width: 150px;
  height: 200px;
  float: left;
}
.board{
  display: block;
  border: 1px solid black;
  width: 150px;
  height: 30px;
  margin: 0;
  background-color: white;
}
p {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: black;
  border: 3px;
  border-color:black;
  display: inline-block;
  padding: 5px;
}
.yellow{
  background-color: yellow;
}
#inputs {
  float: right;
}
.bases{
  height:30px;
  width: 30px;
  background-color: white;
  border: 3px;
  border-color: black;
  display: inline-block;
  position: absolute;
}
.inner-field {
  background-color: tan;
  max-width: 30%;
  margin: 0 auto;
  min-height: 200px;
  position: relative;
}
.row{
  padding: 10px;

}

#second{
  top: 0;
  left: 42%;
}

#first {
  right: 0;
  top: 42%;
}

#home{
  bottom: 0;
  left: 42%
}

#third{
  left: 0;
  top: 42%;
}
.chats{
  height: 400px;
  max-width: 80%;
  overflow: auto;
  background-color: gray;
  margin-top: 50px;
}
/*add a class for if a runner ison base and chane the color*/


/*create colors for field (green background and brown inside the container*/
